{% load static %}
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
<!-- favicon -->
<link rel="icon" href="{% static 'assets/img/favicon.ico' %}">
<!-- SEO Meta Tags -->
<meta name="description" content=" An app for making blood donation easier and faster in Nepal.">
<meta name="keywords" content=" blood donation, donation, blood , blood information ">
<meta name="author" content=" Blood Donors">
<!-- Open Graph Meta Tags -->
<meta property="og:title" content="An app for making blood donation easier and faster in Nepal.">
<meta property="og:description" content="blood donation, donation, blood , blood information ">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="{% static 'assets/img/logo.png' %}">
<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Blood Donors">
<meta name="twitter:creator" content="@Blood Donors">
<meta name="twitter:title" content="Blood Donors - Blood Donation App">
<meta name="twitter:description" content="An app for making blood donation easier and faster in Nepal.">
<meta name="twitter:image" content=" {% static 'assets/img/logo.png' %}">
