<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="transition: 0.3s;">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon">
                <i class="fas fa-laugh-wink fas fa-heartbeat"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
                <span>Blood donor</span>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blood_requests' %}">
                    <i class="fas fa-table"></i>&nbsp;Blood Requests
                </a>
                <a class="nav-link" href="{% url 'blood_request_form' %}">
                    <i class="fas fa-plus"></i>&nbsp; Add Request
                </a>
                
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="far fa-user-circle"></i>
                    <span>Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">
                    <i class="fas fa-user-circle"></i>
                    <span>Register</span>
                </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>
